# Backend (Hono / Cloudflare Worker)
NUXT_PUBLIC_BACKEND_URL=https://<your-worker>.workers.dev

NUXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NUXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>

# Tom Tom API
NUXT_PUBLIC_TOMTOM_AUTOCOMPLETE_URL='https://api.tomtom.com/search/2/autocomplete'
NUXT_PUBLIC_TOMTOM_FUZZY_SEARCH_URL='https://api.tomtom.com/search/2/search'
NUXT_PUBLIC_TOMTOM_REVERSE_GEOCODING_URL='https://api.tomtom.com/search/2/reverseGeocode'

# Place bias is used to communicate a location preference to the search engine (Trójmiasto geobias)
NUXT_PUBLIC_TOMTOM_RECTANGLE_GEOBIAS='topLeftLat,topLeftLon,btmRightLat,btmRightLon'
NUXT_PUBLIC_TOMTOM_FUZZY_SEARCH_RESPONSES_LIMIT='7'

# Tom Tom Production API Key
NUXT_PUBLIC_TOMTOM_API_KEY='<API_KEY>'

# MapBox
NUXT_PUBLIC_MAPBOX_ACCESS_TOKEN='<pk...>'
NUXT_PUBLIC_MAPBOX_DEFAULT_CENTER_LNG='18.6'
NUXT_PUBLIC_MAPBOX_DEFAULT_CENTER_LAT='54.32'
NUXT_PUBLIC_MAPBOX_DEFAULT_ZOOM='9'
NUXT_PUBLIC_MAPBOX_DEFAULT_ZOOM_3D_TRESHOLD='15'
NUXT_PUBLIC_MAPBOX_ROUTE_URL='https://api.mapbox.com/directions/v5/mapbox/driving'
